FASTRAG_APP_NAME=FastRAG
FASTRAG_APP_VERSION=0.1.0
FASTRAG_ENVIRONMENT=development
FASTRAG_HOST=127.0.0.1
FASTRAG_PORT=8000
FASTRAG_RELOAD=true
FASTRAG_DEFAULTS__EMBEDDER=default
FASTRAG_DEFAULTS__VECTOR_STORE=memory
FASTRAG_DEFAULTS__LLM=grounded
FASTRAG_BOOTSTRAP__REGISTER_IN_MEMORY_DEFAULTS=true
FASTRAG_BOOTSTRAP__IN_MEMORY_EMBEDDER_DIMENSIONS=16
FASTRAG_BOOTSTRAP__IN_MEMORY_LLM_MAX_CONTEXT_DOCUMENTS=3
